main.home {
  height: 100vh;
  padding-bottom: 20vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.home .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 960px) {
  .theme-default-content:not(.custom) {
    max-width: 80%;
    padding-top: 44px;
  }
  .page-nav, .page-edit {
    max-width: 80%!important;
  }
}

